<html>
	<head>
		<script
			src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js"></script>

		<title>Temperature Status</title>
		<!--
		<meta http-equiv="refresh" content="2" >
		-->
		<style>
			canvas{
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			}
			table.scroll {
				margin-top: 10%;
				width: 30%; /* Optional */
				border-collapse: collapse;

}

			th, td {
				text-align: left;
				padding: 8px;
			}

tr:nth-child(even){background-color: #f2f2f2}
tbody tr:nth-child(1){border: 4px solid black; border-color: #107f10}
thead tr:nth-child(1){border: 3px solid black; border-color: #107f10}
td:nth-child(1), th:nth-child(1) { min-width: 130px; }
td:nth-child(2), th:nth-child(2) { min-width: 100px; }
td:nth-child(3), th:nth-child(3) { min-width: 80px; }
th {
    background-color: #4CAF50;
    color: white;
}

table.scroll tbody,
table.scroll thead { display: block; }

table.scroll tbody {
    height: 768px;
    overflow-y: auto;
    overflow-x: hidden;
}


		</style>
		<style type="text/css" src="styles"></style>
	</head>
	<body>
		<div id="content">
			<canvas id="canvas" height="100%"></canvas>
		</div>
		<div id="menu">
			<table class="scroll">
			<thead>
				<tr><th>Time</th><th>Temperature</th></tr>
			</thead>
			<tbody id="list">
			</tbody>
			</table>
		</div>
		<br>
		<br>
		<script>
		var value = [];
		var time = [];
		var addValue = [];
		var addTime = [];
		var ttime ="";
		var info = "";
		var done = false;

        var config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Temperature",
                    data: [],
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:false,
                    text:'Chart.js Line Chart'
                },
                tooltips: {
                    mode: 'label',
                    callbacks: {
                        // beforeTitle: function() {
                        //     return '...beforeTitle';
                        // },
                        // afterTitle: function() {
                        //     return '...afterTitle';
                        // },
                        // beforeBody: function() {
                        //     return '...beforeBody';
                        // },
                        // afterBody: function() {
                        //     return '...afterBody';
                        // },
                        // beforeFooter: function() {
                        //     return '...beforeFooter';
                        // },
                        // footer: function() {
                        //     return 'Footer';
                        // },
                        // afterFooter: function() {
                        //     return '...afterFooter';
                        // },
                    }
                },
                hover: {
                    mode: 'dataset'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            show: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
						type: "linear",
                        display: true,
						position: "left",
                        scaleLabel: {
                            show: true,
                            labelString: 'Temperature'
                        },
                        ticks: {
                            suggestedMin: 10,
                            suggestedMax: 30,
                        }
                    }]
                }
            }
        };

            config.data.datasets[0].borderColor = 'rgba(200,0,0,255)';
            config.data.datasets[0].backgroundColor = 'rgba(255,0,0,255)';
            config.data.datasets[0].pointBorderColor = 'rgba(200,0,0,255)';
            config.data.datasets[0].pointBackgroundColor = 'rgba(255,0,0,255)';
            config.data.datasets[0].pointBorderWidth = 1;

		var urlParams = new URLSearchParams(window.location.search);
        var authorizationToken = urlParams.get('device');
        var dataType = "test";
        var num = 30;

        var initial = 1;
        function drawOutput() {
			$.ajax({
				type: "GET",
				beforeSend: function(request) {
					request.setRequestHeader("token", authorizationToken);
					request.setRequestHeader("type", dataType);
					request.setRequestHeader("num", num);
				},
				dataType: "json",
				url: "/data/get",
				processData: false,
				success: function(msg) {
					addValue = _.pluck(msg, 'value');
					addTime = _.pluck(msg, 'timestamp');

			        if (initial !=0){
			            initial = 0;
			            value = addValue;
			            time = addTime;
			            ttime = time[0];
			            for(var i=value.length-1; i>=0;i--){
		        	        $('#list').prepend($('<tr><td>'+time[i]+'</td><td>'+value[i]+'&degC</td></tr>'));
			            }
                    } else {
    	        		if(!addTime.includes(ttime)){
    	        		    ttime = addTime[0];

    			            for (var j=num-1; j>=0; j--){
    			                value.unshift(addValue[j]);
    			                time.unshift(addTime[j]);
    			            }
    	            		for(var i=addValue.length-1; i>=0;i--){
	    	        	        $('#list').prepend($('<tr><td>'+addTime[i]+'</td><td>'+addValue[i]+'&degC</td></tr>'));
    			            }
			            }
        			}

    			    config.data.datasets[0].data = value.slice(0,30);
            		config.data.labels = time.slice(0,30);
    	            window.myLine.update();
				}
			});

		}
        var timerId;

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
            drawOutput();
            num = 5;
            timerId = setInterval(drawOutput,5000);
        };
		</script>
	</body>
</html>