<!--
Выпускная работа бакалавра
Группа А-08-14
Чертенко Е.С.
Листинг  шаблона страницы видов данных device.vm
-->
<html>
	<head>
		<script
			src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="../bootstrap/css/theme.css">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../fonts/icomoon.css"></head>

		<title>Data List</title>
	</head>
	<body>
	<!--Модальное окно удаления данных-->
	    <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete device</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="deleteModalBody">
                        <p>Are you sure you want to delete the device?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger delete-sure" data-type="" onclick="deleteSure(this)"><i class="glyphicon glyphicon-trash"></i><span> Delete</span></button>
                                    </div>
                </div>
            </div>
        </div>

<!--Панель навигации-->
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand" href="#">Storehouse</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link home" href="#"><span class="icon icon-home3"></span> Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="DeviceDropdown" role="button" data-toggle="dropdown">
							Devices
						</a>
						<div class="dropdown-menu device-dropdown">
							<!-- <a class="dropdown-item" href="#">Action</a> -->
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="DataDropdown" role="button" data-toggle="dropdown">
							Data
						</a>
						<div class="dropdown-menu data-dropdown">
							<!-- <a class="dropdown-item" href="#">Action</a> -->
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<!--Список видов данных-->
		<div class="container-fluid">
			<div class="row" id="cards">

			</div>
		</div>

		<script>

			token = '${token}'
			var url = window.location.protocol + "//" + window.location.host + "/";
			$(".navbar-brand").attr("href",url)
			$('.home').attr('href', url);
			var urlData = url + "data?device=" + token;

			$.ajax({ //запрос списка устройств от сервера
                type: "GET",
                dataType: "json",
                url: "/device/list",
                processData: false,
                success: function(msg) {
                    for(var i=0; i<msg.length;i++){ //заполнение выпадающего списка быстрого переходя для устройств
                        if(msg[i].data != ""){
                            $('.device-dropdown').append($('<a class="dropdown-item" href="' + url + 'device?device=' + msg[i].link + '">' + msg[i].name + '</a>'));
                        } else {
                            //$('.device-dropdown').append($('<a class="dropdown-item disabled" href="#">' + msg[i].name + '</a>'));
                        }
                    }
                }
            });

            $.ajax({ //запрос списка видов данных от сервера
                type: "GET",
                dataType: "json",
                url: "/data/list?device=" + token,
                processData: false,
                success: function(msg) {
                    for(var i=0; i<msg.length;i++){ //заполнение выпадающего списка быстрого переходя для данных
                        $('.data-dropdown').append($('<a class="dropdown-item" href="' + url + 'data?device=' + token + '&data=' + msg[i].name + '">' + msg[i].name + '</a>'));
                    }
                }
            });

            getData()

            //Функция вывода списка видов данных
			function getData(){
			clrData() //очистка списка
			$.ajax({ //запрос списка видов данных от сервера
				type: "GET",
				dataType: "json",
				url: "/data/list?device=" + token,
				processData: false,
				success: function(msg) {
					for(var i=0; i<msg.length;i++){ //создание и вывод элементов списка. Далее HTML-разметка элементов списка
						$('#cards').append($(`
							<div class="col-lg-4 col-md-6 col-md-6 col-sm-6">
								<div class="card" style="margin: 3% 1%;">
									<div class="card-header"><h4>` + msg[i].name + `</h4></div>
									<div class="card-body">
									        <h4>Last:</h4>
                                            <h3>` + msg[i].value + `</h3>
										<div class="btn-group" style="display: flex;">
											<a href="` + urlData + `&data=` + msg[i].name + `" class="btn btn-primary"><span class="icon icon-stats-dots"></span> Show graph</a>
											<button data-toggle="modal" data-target="#deleteModal" onClick="deleteData(this)" class="btn btn-danger" data-data="` + msg[i].name + `"><span class="icon icon-bin"></span> Delete data</button>
										</div>
									</div>
								</div>
							</div>
						`))
					}
				}
			});
			}

            //Функция очистки списка
			function clrData(){
				$('#cards').empty()
			}

            //Функция присвоения вида данных кнопке подтверждения удаления
            //button - кнопка удаления данных
			function deleteData(button){
				$('.delete-sure').attr('data-type', $(button).data('data'));
			}

            //Функция подтверждения удаления данных
            //button - кнопка подтверждения удаления данных
			function deleteSure(button){ //запрос к серверу об удалении данных
				var res = "";
				$.ajax({
				type: "POST",
				url: "/data/delete?token=" + token + "&type=" + $(button).data('type'),
				success: function(msg){
					if(msg == "Ok."){ //если данные удалены
						getData() //вывести обновленный список
						$("#deleteModal").modal('hide') //закрыть модальное окно
					} else { //В противном случае вывести сообщение об ошибке
						$("#deleteModalBody").append(`
						<div class="alert alert-danger" role="alert">
							Unexpected error occured. Try again later.
						</div>`)
					}
				}
				});
			}
		</script>
	</body>
</html>