<html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>App Aquamarine - Pingendo template</title>
  <meta name="description" content="Free Bootstrap 4 Pingendo Aquamarine template made for app and softwares.">
  <meta name="keywords" content="Pingendo app aquamarine free template bootstrap 4">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="bootstrap/css/theme.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="https://d33wubrfki0l68.cloudfront.net/js/12e3ca424c3c55e3d306e6423ed9e81f260dd657/aquamarine/js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="https://d33wubrfki0l68.cloudfront.net/js/fe6311b3c294cba469a3939f21603640522c41e5/aquamarine/js/animate-in.js"></script>
</head><body>
  <!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">Storehouse</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link home" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="DeviceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Devices
                  </a>
                  <div class="dropdown-menu device-dropdown" aria-labelledby="navbarDropdown">
                      <!-- <a class="dropdown-item" href="#">Action</a> -->
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="DataDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Data
                  </a>
                  <div class="dropdown-menu data-dropdown" aria-labelledby="navbarDropdown">
                      <!-- <a class="dropdown-item" href="#">Action</a> -->
                  </div>
              </li>
          </ul>
      </div>
  </nav>
  
  <!-- Cover -->
  
  <!-- Article style section -->
  
  <!-- Features -->
  
  <!-- Features -->
  <!-- Carousel reviews -->
  
  <!-- Call to action -->
  
  <!-- Footer -->
  
  <!-- JavaScript dependencies -->


<div class="py-5"><div class="container">
        <div class="row">
            <canvas id="canvas"></canvas>
        </div>
        <div class="row">
            <table class="table header-fixed">
                <thead>
                    <tr>
                        <th>Time</th><th>Value</th>
                    </tr>
                </thead>
                <tbody id="list"></tbody>
            </table>
        </div>
    </div>
</div>

  <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="https://d33wubrfki0l68.cloudfront.net/js/26a3094ac9c5e8d045f102e8929a6db58b3bbd83/aquamarine/js/smooth-scroll.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-29443235-15"></script>
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js"></script>


<script>
    var url = window.location.protocol + "//" + window.location.host + "/";
    $(".navbar-brand").attr("href",url)
    $('.home').attr('href', url);
    var urlParams = new URLSearchParams(window.location.search);
    var token = urlParams.get('device');
    var data = urlParams.get('data');
    token = '${token}'
    data = '${data}'
    var num = 30;

    var value = [];
    var time = [];
    var addValue = [];
    var addTime = [];
    var ttime ="";
    var info = "";
    var done = false;

    var config = {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: data,
                data: [],
                fill: false,
            }]
        },
        options: {
            responsive: true,
            title:{
                display:false,
                text:'Chart.js Line Chart'
            },
            tooltips: {
                mode: 'label',
                callbacks: {
                    // beforeTitle: function() {
                    //     return '...beforeTitle';
                    // },
                    // afterTitle: function() {
                    //     return '...afterTitle';
                    // },
                    // beforeBody: function() {
                    //     return '...beforeBody';
                    // },
                    // afterBody: function() {
                    //     return '...afterBody';
                    // },
                    // beforeFooter: function() {
                    //     return '...beforeFooter';
                    // },
                    // footer: function() {
                    //     return 'Footer';
                    // },
                    // afterFooter: function() {
                    //     return '...afterFooter';
                    // },
                }
            },
            hover: {
                mode: 'dataset'
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        show: true,
                        labelString: 'Month'
                    }
                }],
                yAxes: [{
                    type: "linear",
                    display: true,
                    position: "left",
                    scaleLabel: {
                        show: true,
                        labelString: data
                    },
                    ticks: {
                        suggestedMin: 10,
                        suggestedMax: 30,
                    }
                }]
            }
        }
    };

        config.data.datasets[0].borderColor = 'rgba(200,0,0,255)';
        config.data.datasets[0].backgroundColor = 'rgba(255,0,0,255)';
        config.data.datasets[0].pointBorderColor = 'rgba(200,0,0,255)';
        config.data.datasets[0].pointBackgroundColor = 'rgba(255,0,0,255)';
        config.data.datasets[0].pointBorderWidth = 1;



    var initial = 1;
    function drawOutput() {
        $.ajax({
            type: "GET",
            beforeSend: function(request) {
                request.setRequestHeader("token", token);
                request.setRequestHeader("type", data);
                request.setRequestHeader("num", num);
            },
            dataType: "json",
            url: "/data/get",
            processData: false,
            success: function(msg) {
                addValue = _.pluck(msg, 'value');
                addTime = _.pluck(msg, 'timestamp');

                if (initial !=0){
                    initial = 0;
                    value = addValue;
                    time = addTime;
                    ttime = time[0];
                    for(var i=value.length-1; i>=0;i--){
                        $('#list').prepend($('<tr><td>'+time[i]+'</td><td>'+value[i]+'&degC</td></tr>'));
                    }
                } else {
                    if(!addTime.includes(ttime)){
                        ttime = addTime[0];

                        for (var j=num-1; j>=0; j--){
                            value.unshift(addValue[j]);
                            time.unshift(addTime[j]);
                        }
                        for(var i=addValue.length-1; i>=0;i--){
                            $('#list').prepend($('<tr><td class="col-md-6">'+addTime[i]+'</td><td class="col-md-6">'+addValue[i]+'&degC</td></tr>'));
                        }
                    }
                }

                config.data.datasets[0].data = value.slice(0,30);
                arr = time.slice(0,30);
                arr.forEach(function(cur, ind, arr){
                    config.data.labels[ind] = [cur.split(" ")[0], cur.split(" ")[1]]
                });

                window.myLine.update();
            }
        });
    }

    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/device/list",
        processData: false,
        success: function(msg) {
            for(var i=0; i<msg.length;i++){
                if(msg[i].data != ""){
                    $('.device-dropdown').append($('<a class="dropdown-item" href="' + url + 'device?device=' + msg[i].link + '">' + msg[i].name + '</a>'));
                } else {
                    //$('.device-dropdown').append($('<a class="dropdown-item disabled" href="#">' + msg[i].name + '</a>'));
                }
            }
        }
    });

    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/data/list?device="+token,
        processData: false,
        success: function(msg) {
            for(var i=0; i<msg.length;i++){
                $('.data-dropdown').append($('<a class="dropdown-item" href="' + url + 'data?device=' + token + '&data=' + msg[i].name + '">' + msg[i].name + '</a>'));
            }
        }
    });

    var timerId;

    window.onload = function() {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx, config);
        drawOutput();
        num = 5;
        timerId = setInterval(drawOutput,5000);
    };

    function formatLabel(str, maxwidth){
        var sections = [];
        var words = str.split(" ");
        var temp = "";

        words.forEach(function(item, index){
            if(temp.length > 0)
            {
                var concat = temp + ' ' + item;

                if(concat.length > maxwidth){
                    sections.push(temp);
                    temp = "";
                }
                else{
                    if(index == (words.length-1))
                    {
                        sections.push(concat);
                        return;
                    }
                    else{
                        temp = concat;
                        return;
                    }
                }
            }

            if(index == (words.length-1))
            {
                sections.push(item);
                return;
            }

            if(item.length < maxwidth) {
                temp = item;
            }
            else {
                sections.push(item);
            }

        });

        return sections;
    }
</script>

</body></html>